*{
	margin: 0px;

}
body{

	width:1135px;
	margin: auto auto;

}

.main{

	background-color: #7d055d ;
	width: 100%;
	height: 60px;
	color: white;
}

#unordered-list>li{

    float: right;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 40px;
	padding: 5px 20px 5px 20px;
    

}

#unordered-list>li:hover{
	border-radius: 15px 25px;
	background-color: #ce2ea3 ; 
	cursor: pointer;
}

#img{

	width: 30px;
	float: left;
	padding-left: 100px;
	padding-top: 10px;
}

#h1{

height: 100px; 
float: left;
background-color: #ce2ea3 ;  
font-family:Urdu Typesetting;
border-radius: 0px  0px  100% 0px ; 
width: 100%;
text-indent:200px; 
line-height: 30px;
color: white;

}



#icons{
    
  	width: 150px;
	height: 150px;
	border-radius: 15px 50px;
	border: 1px solid #ce2ea3;

	
}


.man{

margin: auto;



}



    .circle-container {
    	position: relative;
    	height: 1000px;
        width: 1000px;
    	border:  3px solid #ce2ea3 ;
    	border-radius: 50%;
    	margin-top: 250px;
    	margin-bottom: 200px;
    	margin-left: 70px;
    }
    .circle-container a {
    	display: block;
    	position: absolute;
    	top: 46%; left:46%;
    	margin: -2em;
    	cursor: pointer;
    }
    .circle-container img { display: block; width: 100%; }
    .deg0 { transform: translate(25em); } 
    .deg45 { transform: rotate(45deg) translate(23em) rotate(-45deg); }
    .deg90 {transform: rotate(90deg) translate(25em) rotate(-90deg); }
    .deg135 { transform: rotate(135deg) translate(25em) rotate(-135deg); }
    .deg180 { transform: translate(-25em); }
    .deg225 { transform: rotate(225deg) translate(25em) rotate(-225deg); }
    .deg270 { transform: rotate(270deg) translate(25em) rotate(-270deg); }
    .deg315{ transform: rotate(315deg) translate(25em) rotate(-315deg); }





#footer {
     
      width: 100%;
      height: 100px;
      background-color: #ce2ea3;
       
 }



